<!-- <app-admin></app-admin> -->
<!-- <div id="content">

<div class="container">
    <div class="col-md-8-content-center-mt-3">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity Stored</th>
                <th scope="col">Quantity Left</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stock of users">
            <td>{{user.email}}</td>
            <td>{{user.password }}</td>
            <td><a (click)="deleteUser(user.email)">
                <i id="delete" class="fas fa-trash"></i>
              </a>
            </td>
            <td><a (click)="updateUser(user)">
                <i id="update" class="fas fa-edit"></i>
              </a>
            </td>
              </tr>
            </tbody> 
          </table>
</div>
</div> 


 -->


