<app-admin></app-admin>
<div id="content">
<div class="container">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6 content-center">
      <div class="card">
        <h5 class="card-header content-center">Upload Product</h5>
        <div class="card-body">
            <input  (change)="selectFile($event)" class="form-control form-control-lg" id="formFileLg" type="file">
          </div>
          <button (click)="uploadFile()" type="submit"  class="btn btn-primary mt-3">Upload</button>
    </div>

  
    <div class="col-md-3">
      
    </div>
  </div>
</div>
</div>
    